Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1695989787169/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1718025014955/work/certifi
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1696001742886/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1698833585322/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
coloredlogs==15.0.1
contourpy @ file:///home/conda/feedstock_root/build_artifacts/contourpy_1712429891065/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1696677705766/work
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1719088281970/work
flatbuffers==23.3.3
fonttools @ file:///home/conda/feedstock_root/build_artifacts/fonttools_1717209186714/work
gmpy2 @ file:///home/conda/feedstock_root/build_artifacts/gmpy2_1715527292503/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1634280454336/work
hpack==4.0.0
humanfriendly==10.0
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1619110129307/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1713279365350/work
importlib_resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1711040877059/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1715127149914/work
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/kiwisolver_1695379916629/work
lsq-ellipse==2.2.1
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1706899945820/work
matplotlib @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-suite_1715976210960/work
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1678228039184/work
munkres==1.1.4
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1698504735452/work
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1718615049411/work/dist/numpy-2.0.0-cp39-cp39-linux_x86_64.whl#sha256=4414349040b2096285d7d37f6b1353619c6fc5d47f94be13c5c5fb56a802704b
opencv-python==4.10.0.84
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1718189413536/work
Pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1675487166627/work
ply @ file:///home/conda/feedstock_root/build_artifacts/ply_1712242996588/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1711811537435/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1709721012883/work
PyQt5==5.15.9
PyQt5-sip==12.12.2
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1709299778482/work
PyYAML @ file:///home/conda/feedstock_root/build_artifacts/pyyaml_1695373447169/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1717057054362/work
scipy==1.13.1
shapely @ file:///home/conda/feedstock_root/build_artifacts/shapely_1715876451970/work
sip @ file:///home/conda/feedstock_root/build_artifacts/sip_1697300422453/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1718625539893/work
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1604308577558/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1644342247877/work
torch==2.3.1
torchaudio==2.3.1
torchvision==0.18.1
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1717722887379/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1714854870413/work
triton==2.3.1
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1717802530399/work
unicodedata2 @ file:///home/conda/feedstock_root/build_artifacts/unicodedata2_1695847984941/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1719391292974/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1718013267051/work
zstandard==0.22.0
